#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #79cbe8;
    z-index: 99999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(12px, 16px, 20px);
    color: #005671;
    font-weight: 500;
}

#loading img {
    width: 15%;
    margin-bottom: 3%;
}

#loading>div {

    display: flex;
    justify-content: center;
    align-items: center;
}

#loading>div span {
    margin-right: 10px;
}

#loading .dot {
    /* font-size: ; */
    margin: 0 3px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #005671;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform-origin: center;
    transform-origin: center center;
    animation: flash 2s linear infinite;
}

.dot-2 {
    animation-delay: .4s !important;
}

.dot-3 {
    animation-delay: .6s !important;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}