@import url(./main/normalize.min.css);
/* @import url(/css/main/font-face.css); */

:root {
  font-family: "default", "sans-serif";
  --main-color: #1e6e67;
  --app-height: 100%;
}

* {
  box-sizing: border-box;

}

img {
  /* max-width: 100%; */
}

button {
  border: none;
  background-color: transparent;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  position: absolute;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 9999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(221, 221, 221);
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(211, 211, 211, 0.15);
}

/* scrollbar */
/* cursor */
.cursor {
  position: absolute;
  top: 0;
  right: 5%;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #1E6E67;
  font-size: 12px;
  line-height: 100%;
  z-index: 9999;
  border-radius: 9999px;
  opacity: 1;
}

.cursor .icon {
  position: relative;
  width: 35px;
  height: 50px;
  border-radius: 85% 85% 30px 30px;
  border: 3px solid #1E6E67;
  background-color: #fff;
  margin-bottom: 5px;
}

.cursor .icon .line {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: 1%;
  width: 1px;
  height: 10px;
  background-color: #1E6E67;
  border-radius: 999px;
}

.cursor .icon .dot {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  width: 7px;
  height: 14px;
  border-radius: 7px;
  background-color: #1E6E67;
  opacity: 0;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transform-origin: center;
  transform-origin: center center;
  animation: scroll 3s ease-in-out 0s infinite;
}

@keyframes scroll {
  0% {
    top: 10%;
    opacity: 0;
  }

  3% {
    opacity: 1;

  }

  6% {
    opacity: 1;
    transform: translate(-50%, -20%);
  }

  50% {
    opacity: 1;
    top: 60%;
    transform: translate(-50%, 10%);
  }

  60% {
    opacity: 1;
    top: 60%;
    transform: translate(-50%, -5%);
  }

  63% {
    opacity: 0;
    top: 60%;
    transform: translate(-50%, -5%);
  }

  100% {}
}

@media all and (max-width:480px) {
  .cursor {
    display: none !important;
  }
}

/* cursor */
/* top navbar */
#go-to-main {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 9999;
  /* color: transparent; */
}


.navbar {
  padding: 1% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .left {
  display: flex;
  justify-content: start;
  align-items: center;


}

.navbar .left .logo {
  display: flex;
  align-items: center;

}

.navbar .left .logo img {
  margin: 10px;
  width: 35px;
}

.navbar .left a {
  color: #1E6E67;
  font-weight: 700;
  text-decoration: none;
}

.navbar .left a:visited {
  color: #1E6E67;
  text-decoration: none;
}

.navbar .right {
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar .nav_burger {
  margin-right: 24px;
}

.navbar .website-nav {
  margin-left: 20px;
  color: var(--main-color);
  font-size: clamp(14px, 3vmin, 16px);
  line-height: 150%;
  letter-spacing: 0.08em;
  text-decoration: none;
}

.navbar h1 {
  font-size: 1rem;
  margin: 0;
}

@media all and (max-width:450px) {
  .navbar .website-nav {
    display: none;
  }

  .navbar .left {
    position: relative;
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

#the-nav {
  display: none;
  border: 2px solid #1e6e67;
  padding: 1% 0.6% 1%;
  position: fixed;
  z-index: 99999;
  top: 10%;
  left: 2%;
  background-color: #fff;
  height: fit-content;
}

#the-nav ul {
  /* height: clamp(100px, 2vw, 800px); */
  width: clamp(150px, 20vw, 800px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

#the-nav li {
  margin-bottom: 5%;
  width: 100%;
  list-style: none;
}

#the-nav li>* {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

#the-nav li:hover div.arrow-right:not(.active) {
  border-left: 0.6vw solid #1e6e6783
}

#the-nav .text {
  white-space: nowrap;
  font-weight: 700;
  font-size: clamp(14px, 2vmin, 24px);
  line-height: 130%;
  letter-spacing: 0.08em;
  color: #1E6E67;
}

#the-nav div.arrow-right {
  margin-right: 10%;
  width: 0;
  height: 0;
  border-top: 0.6vw solid transparent;
  border-bottom: 0.6vw solid transparent;
  border-left: 0.6vw solid #1e6e6700;
  transition: all .2s;
}

#the-nav div.arrow-right.active {
  border-left: 0.6vw solid #1e6e67;
}

.navbar .website-nav .dots {
  margin-right: 14px;
}

footer {
  position: fixed;
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding: 24px 46px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
}

.zero-project {
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#zero-project {
  min-width: 100px;
  width: 7vw;
  max-width: 200px;
  aspect-ratio: 1;
  position: absolute;
  left: 0;
  bottom: 10%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 0px 20px 20px 0px;
}

.zero-project img {
  width: 30%;
}

#zero-project img {
  width: 100%;
}

footer .copy-right {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #1e6e67;
  font-size: clamp(12px, 1.2vmin, 24px);
}

footer #bottom-nav {
  color: #1e6e67;
  text-decoration: none;
  margin-right: 10px;
}


/* access */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}



/* focus */
a:focus {
  /* box-shadow: inset 2px 2px #00b0f0; */
  border: 2px solid #00b0f0;
  outline: 0px solid #00b0f0 !important;
  text-decoration: none;
}

button:focus {
  outline: 2px solid #00b0f0;
}