:root {
    --app-height: 100vh;
}

::-webkit-scrollbar {
    z-index: 9999;
}

body {
    height: 100vh;
    height: var(--app-height);
    min-height: 100vh;
    min-height: var(--app-height);
    min-height: var(--app-height);
    width: 100vw;
    overflow: hidden;
    background-color: #fff;
}

main {
    height: 100vh;
    height: var(--app-height);
    min-height: 100vh;
    min-height: -webkit-fill-available;
    min-height: fill-available;
    width: 100vw;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#show-when-too-short {
    transform: translate(-50%, -50%);
    transition: all .3s;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 0vw;
    height: 0vh;
    opacity:
        0;
    z-index: 99999999;
    display: flex;
}

/* #the-nav div.arrow-right.active {
    border-left: 1.3vw solid #1e6e67;
}

#the-nav div.arrow-right {
    margin-right: 5%;
    width: 0;
    height: 0;
    border-top: 1.3vw solid transparent;
    border-bottom: 1.3vw solid transparent;
    border-left: 1.3vw solid #1e6e6700;
    transition: all .2s;
}

#the-nav {
    top: 7%;
    left: 55%;
    padding: 2%;
} */

.logo {
    filter: hue-rotate(25deg) saturate(143%) brightness(80%);
}

/* tabs */
.section-tabs,
.burger {
    position: absolute;
    z-index: 1100;
    left: 50%;
    transform: translateX(-50%);
    width: 46%;
    /* min-width: 600px; */
    max-width: 2000px;
    height: 2px;
    background-color: #1e6e67;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* opacity: 0; */
}

.section-tabs.normal {
    min-width: 600px;
}

.burger {
    max-width: 100%;
}

.section-tabs>.tab,
.section-tabs>.selector {
    padding: 0.5% 3%;
    color: #1E6E67;
    background-color: #F2F2F2;
    border: 2px solid #1E6E67;
    border-radius: 9999px;
    font-size: clamp(16px, 2vmin, 32px);
    font-weight: bold;
    line-height: 150%;
    transition: all .3s;
}

.section-tabs>.tab:hover,
.section-tabs>.selector:hover {
    background-color: #1E6E67 !important;
    color: #FFF !important;
}

.section-tabs>.tab.active {
    background-color: #1E6E67;
}

.burger {
    width: 100%;
    top: -10%;
    display: none;
}

.burger>.tab,
.burger>.selector {
    border: 1px solid #1E6E67;
    color: #1E6E67;
    min-height: 50px;
    border-radius: 0;
    width: 100vw;
}

.burger>.selector {
    height: 50px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E6E67;
}

.burger>.selector .text {
    color: #fff;
    width: auto;
    max-width: 400px;
    border-bottom: 2px solid #FFF;
}

.burger>.selector img {
    transform: rotate(0deg);
    transition: all .3s;
}

@media all and (max-width:1100px) {
    .section-tabs:not(.burger) {
        display: none !important;
    }

    .burger {
        height: 50px;
        overflow-y: hidden;
        top: 65px;
        display: flex;
        flex-direction: column;
        width: 100%;
        transition: all .3s;
        background-color: transparent;
        z-index: 1111;
    }

    .burger.active {
        height: 250px;
    }

    /* .burger:focus-within {
        height: 300px;
      } */

    .burger.active>.selector img {
        transform: rotate(180deg)
    }

}

/* tabs */

/* main */
.main {
    position: absolute;
    z-index: 21;
    left: 100%;
    opacity: 1;
    height: 92vh;
    background-color: #fff;
    width: 100%;
    padding: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow-x: scroll;
    /* overflow: overlay; */
    overflow-y: hidden;
}

.main .content {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5%;
}

.main.main-4 .content {
    width: fit-content;
    justify-content: flex-start;
    gap: 3%;

}

.main a {
    /* width: 100%; */
    min-width: 23vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.08em;
}

.main a {
    /* width: fit-content; */
    color: #005671;
    font-weight: 900;
}

.main a:visited {
    color: #005671;
}

.main a p:first-of-type {
    width: 100%;
    align-self: flex-start;
    color: #1E6E67;
    font-weight: 400;
    font-size: clamp(10px, 2vmin, 14px);
    line-height: 150%;
    letter-spacing: 0.08em;
    margin-bottom: 8px;

}

.main a p:last-of-type {
    width: 100%;
    align-self: flex-start;
    color: #1E6E67;
    font-weight: 700;
    font-size: clamp(14px, 2vmin, 24px);
    line-height: 150%;
    letter-spacing: 0.08em;

}

.main>a .text {
    width: 75%;
    text-align: center;
    font-weight: 900;
    font-size: clamp(20px, 2vmin, 48px);
    line-height: 150%;
    letter-spacing: 0.08em;
    color: #005671;
}

.main a .img-group {
    width: 90%;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main a .img-group img:first-of-type {
    width: 100%;
}

/* .main .img-group img:last-of-type {
    width: 20%;
    padding: 3%;
    background-color: #005671;
    border-radius: 9999px;
    box-shadow: 0px 8px 12px rgba(14, 39, 37, 0.25);
    position: absolute;
    right: -20px;
    bottom: -20px;
} */

/* main */